# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# OS files
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build / cache
.pytest_cache/
.mypy_cache/

# Environment files
.env

# Streamlit
.streamlit/secrets.toml

# Optional logs
*.log